[bumpversion]
current_version = 0.2.0
commit = True
message = 
	version bump {current_version} -> {new_version}
tag = True
tag_message = 
	version bump {current_version} -> {new_version}

[bumpversion:file:gitlab_submodule/__version__.py]
search = __version__ = '{current_version}'
replace = __version__ = '{new_version}'
