name: Code checks

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    name: Check Python${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@v2
    - name: install python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 nose coverage
        pip install -r requirements.txt
    - name: lint
      run: |
        make lint
    - name: test
      run: |
        make test
